@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* ia-writer-duo-latin-400-normal */
@font-face {
  font-family: 'iA Writer Duo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/ia-writer-duo/files/ia-writer-duo-latin-400-normal.woff2) format('woff2'),
    url(@fontsource/ia-writer-duo/files/ia-writer-duo-latin-400-normal.woff) format('woff');
}
/* ia-writer-mono-latin-400-normal */
@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff2) format('woff2'),
    url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff) format('woff');
}

body {
  font-family: 'iA Writer Duo', monospace;
}
code {
  font-family: 'iA Writer Mono', monospace;
}
/* callouts.css */

[data-callout] {
  @apply relative border-l-4 rounded p-4 pl-10 mb-8;
}

[data-callout-title] {
  @apply font-semibold mb-1;
}

[data-callout-body] {
  @apply text-sm text-gray-700;
}

[data-callout-type='note'] {
  @apply bg-blue-50 border-blue-300;
}

[data-callout-type='tip'] {
  @apply bg-cyan-50 border-cyan-300;
}

[data-callout-type='warning'] {
  @apply bg-yellow-50 border-yellow-400;
}

[data-callout-type='danger'] {
  @apply bg-red-50 border-red-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply flex items-center my-6.5 font-semibold;

  &::before {
    @apply self-start;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

h1 {
  @apply text-[1.75rem] mt-8;

  &::before {
    @apply mr-2 content-['#'];
  }
}

h2 {
  @apply text-[1.6rem] mt-12;

  &::before {
    @apply mr-2 content-['##'];
  }
}

h3 {
  @apply text-2xl mt-10;

  &::before {
    @apply mr-2 content-['###'];
  }
}

h4 {
  @apply text-2xl mt-8;

  &::before {
    @apply mr-2 content-['####'];
  }
}

h5 {
  @apply text-lg;

  &::before {
    @apply mr-2 content-['#####'];
  }
}

h6 {
  @apply text-lg;

  &::before {
    @apply mr-2 content-['######'];
  }
}
