---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout>
  <h1>Blog page</h1>

  <h2>Posts</h2>

  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
