---
import Layout from '../layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import PostLink from '../components/post-link.astro';

const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
const recentPosts = posts
  .sort((a, b) => {
    return new Date(b.data.created_at).getTime() - new Date(a.data.created_at).getTime();
  })
  .slice(0, 2);
---

<Layout>
  <div class="w-full">
    <p class="py-6">Software Engineer, trying to survive two kids and a cat</p>
  </div>
  <h2 class="font-bold text-lg uppercase">Recent publications</h2>
  <div>
    {
      recentPosts.map((post) => (
        <PostLink
          id={post.id}
          title={post.data.title}
          abstract={post.data.abstract}
          created_at={post.data.created_at}
        />
      ))
    }

    <a href="/blog">More posts</a>
  </div>
</Layout>
