---
import { Image } from 'astro:assets';
import memoji from '../assets/circle-badge.png';
---

<div class="flex items-center justify-center p-6 gap-4">
  <div class="">
    <Image
      src={memoji}
      alt="Profile Picture"
      class="md:w-30 md:h-30 w-20 h-20 md:rounded-full rounded-sm object-cover"
    />
  </div>
  <div class="">
    <p class="text-4xl font-bold uppercase">Nicolas Marien</p>
  </div>
</div>
