---
import { Image } from 'astro:assets';
import memoji from '../assets/circle-badge.png';
---

<div class="flex items-center justify-center p-6 gap-4">
  <div class="">
    <Image src={memoji} alt="Profile Picture" class="w-30 h-30 rounded-full object-cover" />
  </div>
  <div class="">
    <p class="text-4xl font-bold uppercase">Nicolas Marien</p>
  </div>
</div>
