<nav class="p-4">
  <ul class="flex justify-center space-x-6">
    <li><a href="/" class="hover:text-colors-fg_dark">home</a></li>

    <li><a href="/blog" class="hover:text-colors-fg_dark">blog</a></li>
    <li>
      <a
        href="https://github.com/nicolas-marien"
        class="hover:text-colors-fg_dark">github</a
      >
    </li>
    <li>
      <a
        href="https://mastodon.social/@nico29"
        class="hover:text-colors-fg_dark">mastodon</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/nicolas-marien-3787b55b/"
        class="hover:text-colors-fg_dark">linkedin</a>
    </li>
  </ul>
</nav>
