<nav class="p-4">
  <ul class="flex justify-center space-x-6">
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="/" class="hover:text-colors-fg_dark">home</a>
    </li>

    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="/posts" class="hover:text-colors-fg_dark">posts</a>
    </li>
    <!--<li><a href="/blog" class="hover:text-colors-fg_dark">blog</a></li>-->
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="https://github.com/nicolas-marien" class="hover:text-colors-fg_dark">github</a>
    </li>
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="https://mastodon.social/@nico29" class="hover:text-colors-fg_dark">mastodon</a>
    </li>
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a
        href="https://bsky.app/profile/nicolas-marien.bsky.social"
        class="hover:text-colors-fg_dark">bluesky</a
      >
    </li>
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a
        href="https://www.linkedin.com/in/nicolas-marien-3787b55b/"
        class="hover:text-colors-fg_dark">linkedin</a
      >
    </li>
  </ul>
</nav>
