<nav class="p-4">
  <ul class="flex justify-center space-x-6">
    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="/" class="hover:text-colors-fg_dark">home</a>
    </li>

    <li
      class="hover:underline hover:underline-offset-2 hover:decoration-2 hover:decoration-cyan-600"
    >
      <a href="/posts" class="hover:text-colors-fg_dark">posts</a>
    </li>
  </ul>
</nav>
