<nav class="p-4">
  <ul class="flex justify-center space-x-6">
    <li class="link link-hover">
      <a href="/">home</a>
    </li>

    <li class="link link-hover">
      <a href="/posts">posts</a>
    </li>
  </ul>
</nav>
