---
import type { CollectionEntry } from 'astro:content';
import Tag from '../components/tag.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, tags } = Astro.props as Props;
const hasTags = !!tags.length;
---

<section class="mt-8">
  <div>
    <h1 class="text-3xl">{title}</h1>
    {
      hasTags && (
        <div class="flex gap-3 mb-8 mt-4">
          {tags.map((tag) => (
            <Tag>{tag}</Tag>
          ))}
        </div>
      )
    }
  </div>
  <article class="prose lg:prose-xl">
    <slot />
  </article>
</section>
