---
import type { CollectionEntry } from 'astro:content';
import Tag from '../components/tag.astro';
type Props = CollectionEntry<'blog'>['data'];

const { title, tags, draft } = Astro.props as Props;
const hasTags = !!tags.length;
---

<section class="mt-8 pb-24">
  <div>
    <h1 class="post-title inline">
      {title}
    </h1>
    {
      hasTags && (
        <div class="flex gap-3 mb-8 mt-4">
          {tags.map((tag) => (
            <Tag>{tag}</Tag>
          ))}

          {draft && <span class="badge badge-sm badge-outline badge-warning">draft</span>}
        </div>
      )
    }
  </div>
  <article class="prose prose-lg">
    <slot />
  </article>
</section>
