---
import type { CollectionEntry } from 'astro:content';
import Tag from '../components/tag.astro';
type Props = CollectionEntry<'blog'>['data'];

const { title, tags, draft } = Astro.props as Props;
const hasTags = !!tags.length;
---

<section class="mt-8 pb-24">
  <a href="/blog" class="block uppercase font-bold text-base-800 pb-8">⬅️ Back</a>
  <div>
    <h1 class="text-4xl font-bold flex items-center">
      <span>{title}</span>
      {
        draft && (
          <span class="ml-4 text-sm px-2 py-0.5 bg-yellow-100 text-yellow-800 rounded-full shadow-sm">
            draft
          </span>
        )
      }
    </h1>
    {
      hasTags && (
        <div class="flex gap-3 mb-8 mt-4">
          {tags.map((tag) => (
            <Tag>{tag}</Tag>
          ))}
        </div>
      )
    }
  </div>
  <article class="prose prose-lg">
    <slot />
  </article>
</section>
